@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}
body{
    background-color: #001c30;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation a{
    text-decoration: none;
    color: white;
}
.navigation a:hover{
    color: rgb(13, 132, 161);
}
header img{
    width: 100px;
    height: auto;
}

hr{
    opacity: 10%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}
.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}

.herosub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    font-size: 4rem;
    color: white;
}

.title{
    font-size: 4rem;
    color: #00adb5;
}

.herobutns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.hireMe{
    background-color: #00adb5;
    color: white;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.softwarebtn{
    background-color: rgba(57, 62, 70, 0.75);
    color: white;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
}